@use '../styles/_reset.scss';
@use '../styles/_helpers.scss';
@use '../styles/_vars.scss' as *;

.selectPlan {
	// background-color: yellow;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	& > .formSelectPlan {
		display: flex;
		flex-direction: column;

		& > .fieldset {
			// inline-size: 100%;
			border-style: none;
			display: flex;

			// mobile
			@media screen and (width < $threshold-width) {
				flex-direction: column;
				row-gap: 1rem;
			}

			// desktop
			@media screen and (width >= $threshold-width) {
				flex-direction: row;
				justify-content: space-between;
			}

			& > .label {
				// background-color: aquamarine;

				// border-style: none;
				border-radius: var(--border-radius-big);
				border-style: solid;
				border-width: 0.15rem;
				border-color: var(--font-color-grey);
				display: flex;

				&:where(:hover) {
					cursor: pointer;
				}

				&:has(.radioBtn:checked) {
					// background-color: grey;
					border-color: var(--confirm-btn-bgcolor);
					background-color: var(--switch-bg-color);
				}

				// mobile
				@media screen and (width < $threshold-width) {
					inline-size: 100%;
					// block-size: 4.75rem;
					padding-inline: 1rem;
					padding-block: 1rem;

					flex-direction: row;
				}

				// desktop
				@media screen and (width >= $threshold-width) {
					inline-size: 8.75rem;
					padding-inline: 1rem;
					padding-block: 1.25rem;

					flex-direction: column;
				}

				& > .radioBtn {
					display: none;
				}

				& > .icon {
					inline-size: 2.5rem;

					// mobile
					@media screen and (width < $threshold-width) {
						align-self: flex-start;
					}

					// desktop
					@media screen and (width >= $threshold-width) {
					}
				}

				& > .text {
					display: flex;
					flex-direction: column;
					row-gap: 0.5rem;

					// mobile
					@media screen and (width < $threshold-width) {
						margin-inline-start: 0.75rem;
					}

					// desktop
					@media screen and (width >= $threshold-width) {
						margin-block-start: 2.75rem;
					}

					& > .planTitle {
						// background-color: coral;
						// inline-size: fit-content;
						color: var(--header-font-color);
						font-weight: 500;
					}

					& > .tariff {
						// background-color: burlywood;
						// inline-size: fit-content;
						color: var(--font-color-grey);
					}

					& > .promoMsg {
						color: var(--header-font-color);
						// background-color: aqua;
						// inline-size: fit-content;
						font-size: var(--fs-12);
					}
				}
			}
		}

		& > .periodSwitch {
			// background-color: coral;
			background-color: var(--switch-bg-color);
			border-radius: var(--border-radius-small);
			inline-size: 100%;
			block-size: 3rem;

			align-self: center;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			column-gap: 1.375rem;

			// mobile
			@media screen and (width < $threshold-width) {
				margin-block-start: 1.5rem;
			}

			// desktop
			@media screen and (width >= $threshold-width) {
				margin-block-start: 2rem;
			}

			& > .switchLabel {
				// background-color: aqua;
				background-color: var(--next-btn-bgcolor);
				inline-size: 2.375rem;
				block-size: 1.25rem;
				border-radius: 1rem;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-end;
				padding-inline: 0.25rem;

				&:where(:hover) {
					cursor: pointer;
				}

				&:has(.periodSwitchInput:checked) {
					justify-content: flex-start;
				}

				& > .periodSwitchInput {
					display: none;
				}

				& > .toggleLever {
					background-color: white;
					@include helpers.circle(0.75rem);
				}
			}
		}
	}
}

.selected {
	// background-color: red;
	color: var(--header-font-color);
	font-weight: 500;
}

.deselected {
	color: var(--font-color-grey);
}
