@use '../styles/_reset.scss';
@use '../styles/_helpers.scss';
@use '../styles/_vars.scss' as *;

.nextButton {
	border-style: none;
	background-color: var(--next-btn-bgcolor);
	color: var(--font-color-white);
	border-radius: var(--border-radius-small);

	// mobile
	@media screen and (width < $threshold-width) {
		inline-size: 6rem;
		block-size: 2.5rem;
	}

	// desktop
	@media screen and (width >= $threshold-width) {
		inline-size: 8rem;
		block-size: 3rem;
	}

	&:where(:hover) {
		opacity: 0.7;
	}
}

.confirmButton {
	@extend .nextButton;
	background-color: var(--confirm-btn-bgcolor);
}
