@use './styles/_reset.scss';
@use './styles/_helpers.scss';
@use './styles/_vars.scss' as *;

.app {
	@extend .full-space;
	// background-color: cadetblue;
	background-color: var(--Pastel-blue);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	& > .main {
		display: flex;
		// mobile
		@media screen and (width < $threshold-width) {
			background-color: var(--main-bg-color-mobile);
			inline-size: $mobile-width;
			block-size: fit-content;
			flex-direction: column;
		}

		// desktop
		@media screen and (width >= $threshold-width) {
			justify-content: center;
			background-color: var(--main-bg-color-desktop);
			border-radius: var(--border-radius-big);
			inline-size: $desktop-width;
			block-size: 37.5rem;
			padding: 1rem;
			flex-direction: row;
		}
		// background-color: rebeccapurple;

		// mobile
		@media screen and (width < $threshold-width) {
			// inline-size: $mobile-width;
			// block-size: fit-content;
			// flex-direction: column;
		}

		// desktop
		@media screen and (width >= $threshold-width) {
			// inline-size: $desktop-width;
			// block-size: 37.5rem;
			// padding: 1rem;
			// flex-direction: row;
		}
	}
}
